[Desktop Entry]
Type=Application
Name=Bucket
Comment=Learn the canon offline
Exec=bucket app
Icon=bucket
Categories=Education;Science;
Terminal=false
StartupWMClass=Bucket
