# Skip large blobs; keep metadata + info + plain text for FTS
*.pdf
*.epub
*.zip
*.gz
*_jp2.tar
*.tar

# In-copyright full texts: keep the catalog entry, keep the text on disk only
r-p-feynman.-the-feynman-lectures-on-physics-vol-1-3/*_djvu.txt
